<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Alison-Cruz/index.json" />
  </packageSources>
  <packageSourcesCredentials>
	<github>
		<add key="Username" value="Alison-Cruz" />
		<add key="ClearTextPassword" value="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" />
	</github>
  </packageSourcesCredentials>
</configuration>